
/* :root {
    --body-font: 'Poppins', sans-serif;
  }
   */
body {
    /* background-image: url("../"); */
    background-color: #7533FA,#070113;
    --bs-font-sans-serif: 'Poppins', sans-serif;
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 2;
    --bs-body-color: #fdfdfd;
    --bs-primary: #7533FA;
    --bs-primary-rgb: 117,51,250;
    --bs-border-color: #eeeeee;
  }
  
  /* Pattern Overlay
  ------------------------------------------*/
  .pattern{
    position: relative;
  }
  
  .pattern-overlay {
    position: absolute;
    z-index: -1;
  }
  
  .pattern .pattern-overlay .pattern-left {
    left: 0;
  }
  
  .pattern .pattern-overlay.pattern-right {
    right: 0;
  }
  
  